<ion-header>
  <ion-toolbar>
    <ion-title>
      Training timer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center class="vertical-align-content" >
  <ion-grid class="full-size">
    <ion-row>
      <ion-col style="font-size:30px">
          <ion-label>{{ this.timerCouter.toString() }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="startTimer()">Start</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
